<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 block">
                    <h3> Company </h3>
                    <ul>
                        <li> <a href="#"> About </a> </li>
                        <li> <a href="#"> Careers </a> </li>
                        <li> <a href="#"> Press </a> </li>
                        <li> <a href="#"> Terms and Privacy </a> </li>
                    </ul>
                </div>
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 block">
                    <h3> Discover </h3>
                    <ul>
                        <li> <a href="#"> Blog </a> </li>
                        <li> <a href="#"> Help </a> </li>
                        <li> <a href="#"> Policies </a> </li>
                        <li> <a href="#"> Disaster Response </a> </li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 block">
                    <ul class="social list-inline">
                        <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->
    <!--/.footer-bottom-->
</footer>
