h1{
 font-family:'Open sans';
 font-size:30px;
 text-align:center;
}

.index-accommodations{
font-family: 'Open sans';
font-size:15px;
width:300px;
height:300px;
}

.accommodation-panel{
 width:500px;
}

.accommodation-panel h3{
 font-family: 'Open sans';
 font-size: 20px;
}

.accommodation-image {
 width:500px;
}
