h1{
 font-family:'Open sans';
 font-size:30px;
 text-align:center;
}


img.cover-image {
  border: 1px solid red;
  width: 100%;

}

img.other-images {
  border: 1px solid green;
  height:10%;
  width: 100%;
}
